#catalogue-container
{
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

