<div class="login-wrapper">
    <h1>Pokemon Trainer App</h1>
    <div class="info-text">
        <p>Welcome to the pokemon trainer app.</p>
        <p>Please enter trainer name to continue.</p>
    </div>
    <!-- Use component in: user-login.component.html -->
    <app-user-login></app-user-login>
</div>
