#trainer-container
{
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  justify-content: center;
  width: 90%;
  margin: 0 auto;;
}


.no-pokemon {
  padding-top: 100px;
  width: 250px;
  font-size: x-large;
  color: purple;
  font-weight: bold;
}