
<h1>Trainer: {{trainer.username}}</h1>
<h2>Your Pokemon</h2>
<div id="trainer-container">  
    <div *ngFor="let pokemon of trainerPokemon"><app-trainer-pokemon [pokemon]="pokemon"></app-trainer-pokemon></div>
    <div class="no-pokemon" *ngIf="trainerPokemon.length === 0">You have no pokemon!!</div>
</div>
