<div *ngIf="pokemon" class="catalogue-pokemon">
    <div class="pokemon-name">{{capitalize(pokemon.name)}}</div>
    <img src="{{url}}/{{pokemon.id}}.png">
    <div class="pokemon-info">
      <div class="make-this-bold">#{{pokemon.id.toString().padStart(3, "0")}}</div>
      <!-- <button id="catch-release-button" (click)="onClickButton()">
        {{this.isCaught ? "Release Pokemon" : "Catch Pokemon"}}
      </button> -->
      <app-poke-button [pokemonIsCaught]="this.isCaught" [parentCallback]="onClickButton"></app-poke-button>
    </div>
</div>
