.catalogue-pokemon {
  background-color: #2a75bb;
  margin: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
}

.catalogue-pokemon .pokemon-name {
  margin-top: 10%;
  font-weight: bold;
  font-size: larger;
}

.catalogue-pokemon img {
  width: 100%;
}

.catalogue-pokemon .pokemon-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10%;
}

.make-this-bold {
  font-weight: bold;
  font-size: x-large;
}