<div class="catalogue-pokemon">
  <p class="pokemon-name">{{capitalize(pokemon.name)}}</p>
  <img src="{{ url }}/{{pokemon.id}}.png" alt="Image of some pokemon">
  <div class="pokemon-info">
    <p class="make-this-bold">#{{pokemon.id.toString().padStart(3, "0")}}</p>
    <!-- Disable login until a valid username has been entered -->
    <app-poke-button [parentCallback]="onRelease"></app-poke-button>
  </div>
</div>

