<nav *ngIf="this.routerURL !== '/'">
  <div *ngIf="this.routerURL !== '/trainer'"><a href="/trainer">Trainer page</a></div>
  <div *ngIf="this.routerURL !== '/catalogue'"><a href="/catalogue">Catalogue page</a></div>
  <div *ngIf="this.routerURL !== '/'"><a (click)="onLogout()"><u>Logout</u></a></div>
</nav>
