nav
{
  width: 100vw;
  height: 9vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  background: rgb(128, 150, 130);
  align-content: center;
}

nav > div:nth-of-type(1)
{
  grid-column: 3 / 4;
}

nav > div:nth-of-type(0)
{
  grid-column: 2 / 3;
}

a
{
  font-family: "Comic Sans Ms", serif;
  font-weight: bold;
  font-size: 1em;
}
