/* Pokeball lolol */

.pokeball {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid black;
  transform-origin: center bottom;
}

.pokeball:hover {
  cursor: pointer;
}

.base {
  background: black;
  height: 80%;
  width: 80%;
  padding: 10%;
}

.upper-half {
  position: absolute;
  background: red;
  height: 42%;
  width: 100%;
}

.lower-half {
  bottom: 0;
  position: absolute;
  background: white;
  height: 42%;
  width: 100%;
}

.inner-circle {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}

.indicator-inner {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.indicator {
  border-radius: 50%;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f64c4c;
  background: -webkit-radial-gradient(center, #f64c4c, #ff514f00);
  background: -moz-radial-gradient(center, #f64c4c, #ff514f00);
  background: radial-gradient(ellipse at center, #f64c4c, #ff514f00);

  opacity: 0;
}

/* Animate blinking and shaking*/
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.faded {
  opacity: 0.8;
}

/* Style when selected */
.selected {
  animation: shake 1.5s ease-in infinite;
}

.selected .indicator {
  opacity: 1;
  animation: blink 1s ease-in-out infinite;
}

.selected .indicator-inner {
  background: red;
}