<div [className]="pokemonIsCaught? 'pokeball selected' : 'pokeball' " (click)="onPokeballClick()">
  <div class="upper-half"> </div>
  <div class="lower-half"> </div>
  <div class="base"> </div>
  <div class="inner-circle"> </div>
  <div class="indicator visible"> </div>
  <div class="indicator-inner"> </div>
</div>