
.background
{
  height: 100%;
}

.content-wrapper
{
  margin: 0 auto;
  width: 70%;
  height: 100%;
}

/* .content-wrapper {
  width: 480px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    width: 768px;
  }
} */