<!-- Template Vars can be made with hashtag #-->
<div class="gray-rounded-blobman">
  <form #loginForm="ngForm" (ngSubmit)="onLoginClick(loginForm)">
    <fieldset class="user-login">
      <!-- NgModel allows loginForm.value to contain whatever is input.-->
      <!-- #username allows us to set form validation with require, minLength, and maxlength -->
      <input
        placeholder="Trainer name here..."
        ngModel
        type="text"
        name="username"
        id="username"
        #username="ngModel"
        required
        minlength="3"
        maxlength="20"
      />

      <button type="submit" [disabled]="loginForm.invalid">
        <div class="pokeball">
          <div class="upper-half"></div>
          <div class="lower-half"></div>
          <div class="base"></div>
          <div class="inner-circle"></div>
          <div class="indicator visible"></div>
          <div class="indicator-inner"></div>
        </div>
      </button>
    </fieldset>
  </form>
</div>

<!-- Prompt the users with errors if they've done something wrong -->
<div *ngIf="username.errors && (username.dirty || username.touched)">
  <p *ngIf="username.errors['required']" class="error-message">
    Username is required
  </p>
  <p *ngIf="username.errors['minlength']" class="error-message">
    Username is too short
  </p>
</div>
