
.gray-rounded-blobman {
  margin: 0 auto;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 90%;
  border: none;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

fieldset {
  border: none
}

.user-login {
  display: flex;
  justify-content: space-between;
}

.user-login input {
  flex: 1;
}

.error-message {
  color: red;
}

input {
  border: none;
  width: 50%;
  background-color: lightgray;
  color: gray;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

label,
input {
  font-family: "Comic Sans Ms";
}

label {
  align-self: center;
}

/* Pokeball lolol */


.pokeball {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid black;
  transform-origin: center bottom;
}

.base {
  background: black;
  height: 80%;
  width: 80%;
  padding: 10%;
}

.upper-half {
  position: absolute;
  background: red;
  height: 42%;
  width: 100%;
}

.lower-half {
  bottom: 0;
  position: absolute;
  background: white;
  height: 42%;
  width: 100%;
}

.inner-circle {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}

.indicator-inner {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.indicator {
  border-radius: 50%;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f64c4c;
  background: -webkit-radial-gradient(center, #f64c4c, #ff514f00);
  background: -moz-radial-gradient(center, #f64c4c, #ff514f00);
  background: radial-gradient(ellipse at center, #f64c4c, #ff514f00);

  opacity: 0;
}
