/* You can add global styles to this file, and also import other style files */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

body
{
    width: 100vw;
    min-height: 100vh;
    background: rgb(228, 132, 22);
}

a:hover
{
    cursor: pointer;
}


